@model Employee;

<style>


</style>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="LogIn.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="./photos/eye.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>ThoTh</title>
    <link href="~/css/Admin/adminHome.css" rel="stylesheet" />
</head>

@* <header> *@
@*     <div id="navbar"> *@
@*         @*<h1>THOTH</h1>*@ 
@*         <h1 class="hieroglyph">𓅝𓏏𓎛</h1> *@
@*         <img src="./photos/eye.jpg" alt="logo"> *@
@*     </div> *@

@* </header> *@

<div class="sidebar">
    <table>
        <tr>
            <th>الصفحات</th>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="AdminHome">الصفحة الرئيسية</a></td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="ViewAllEmployee">عرض جميع الموظفين</a></td>
        </tr>
        <tr>
            <td><a asp-controller="Admin" asp-action="AddEmployee">إضافة موظف جديد</a></td>
        </tr>
        <tr>
            <td><a asp-controller="Technical" asp-action="ViewAllJobOrder">عرض جميع الطلبيات</a></td>
        </tr>
    </table>
</div>




@* <div class="sidebar"> *@
@*     <table> *@
@*         <tr> *@
@*             <th>الصفحات</th> *@
@*         </tr> *@
@*         <tr> *@
@*             <td><a href="/Admin/AdminHome">الصفحة الرئيسية</a></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td><a href="/Admin/ViewAllEmployee">عرض جميع الموظفين</a></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td><a href="/Admin/AddEmployee">إضافة موظف جديد</a></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td><a href="/Admin/EditEmployee">تعديل قائمه الموظفين</a></td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td><a href="/Admin/ViewAllJobOrder">عرض جميع الطلبيات</a></td> *@
@*         </tr> *@
@*     </table> *@
@* </div> *@


<div class="container">
    <h1>تحوت يتمني لك يوم سعيد</h1>
    <p>يهدف نظام تحوت إلى تحسين كفاءة العمل في المطبعة من خلال توفير الوقت والجهد للموظفين</p>
    <p>مما يضمن إنتاجًا عالي الجودة بأعلى مستويات الدقة والكفاءة</p>
</div>

