@model Employee;

<style>


</style>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="LogIn.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="./photos/eye.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>ThoTh</title>
    <link href="~/css/Admin/adminHome.css" rel="stylesheet" />
</head>

<div class="sidebar">
    <ul class="dropdown">
        <li onclick="toggleDropdown(this)">
            إدارة المطبعة
            <ul>
                <li><a asp-controller="Admin" asp-action="AdminHome">الصفحة الرئيسية</a></li>
                <li><a asp-controller="Admin" asp-action="ViewAllEmployee">عرض جميع الموظفين</a></li>
                <li><a asp-controller="Admin" asp-action="AddEmployee">إضافة موظف جديد</a></li>
                <li><a asp-controller="Technical" asp-action="ViewAllJobOrder">عرض جميع الطلبيات</a></li>
            </ul>
        </li>

        <li onclick="toggleDropdown(this)">
            المخازن
            <ul>
               
                <li><a asp-controller="Inventory" asp-action="NewPaper">إضافة صنف ورق جديد</a></li>
                <li><a asp-controller="Inventory" asp-action="NewInk">إضافة حبر جديد</a></li>
                <li><a asp-controller="Inventory" asp-action="NewSupply">إضافة مستلزمات جديده</a></li>

                <li><a asp-controller="Inventory" asp-action="viewallpaper">عرض مخزون الورق</a></li>
                <li><a asp-controller="Inventory" asp-action="ViewAllInk">عرض مخزون الحبر</a></li>
                <li><a asp-controller="Inventory" asp-action="ViewAllsupply">عرض مخزون المستلزمات</a></li>
               
                <li><a asp-controller="Inventory" asp-action="physicalCount">جرد المخزون </a></li>

                <li><a asp-controller="Inventory" asp-action="ViewAllVendor">عرض جميع الموردين</a></li>
                <li><a asp-controller="Inventory" asp-action="AddVendor">إضافة مورد جديد</a></li>

                <li><a asp-controller="Inventory" asp-action="paperPurchase">شراء صنف ورق</a></li>
                <li><a asp-controller="Inventory" asp-action="inkPurchase">شراء حبر</a></li>
                <li><a asp-controller="Inventory" asp-action="supplyPurchase">شراء مستلزمات </a></li>

                <li><a asp-controller="Inventory" asp-action="Reorder"> المرتجعات </a></li>

                <li><a asp-controller="Inventory" asp-action="inventoryReports"> تقارير المخازن </a></li>

            </ul>
        </li>

        <li onclick="toggleDropdown(this)">
            التكاليف
            <ul>
                <li><a asp-controller="Cost" asp-action="CalculateJobCost">حساب تكلفة طلب</a></li>
                <li><a asp-controller="Cost" asp-action="ViewReports">عرض التقارير المالية</a></li>
                <li><a asp-controller="Cost" asp-action="ExpenseTracking">متابعة المصروفات</a></li>
            </ul>
        </li>               
    </ul>

    <div class="button">
        <a asp-controller="Employee" asp-action="LoginPage" class="btnBack">تسجيل الخروج</a>
    </div>
</div>


<div class="container">
    <h1>تحوت يتمني لك يوم سعيد</h1>
    <p>يهدف نظام تحوت إلى تحسين كفاءة العمل في المطبعة من خلال توفير الوقت والجهد للموظفين</p>
    <p>مما يضمن إنتاجًا عالي الجودة بأعلى مستويات الدقة والكفاءة</p>
</div>

<script src="~/js/Admin/adminHome.js"></script>