@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    Layout = null;
}


@model ColorWeightSize;

@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/jpeg" href="~/image/eye.jpg" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Inventory/AddCharacteristic.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>



    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
            <a asp-controller="employee" asp-action="adminhome" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>

            } // inventory manager
            else if (jobRole == 1)
            {
            <a asp-controller="employee" asp-action="inventoryManager" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>
            }

            // Inventory clerk
            else if (jobRole == 2)
            {
            <a asp-controller="employee" asp-action="inventoryClerk" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>
            }


        }
    </div>


    <div class="form-container">
    <form asp-controller="Inventory" asp-action="AddCharacteristic" id="myform" enctype="multipart/form-data" method="post">
        @* رسائل النجاح أو الخطأ *@
        @if (TempData["Success"] != null)
        {
        <div class="notification success">
            <div class="notification-content">
                <i class='bx bx-check-circle'></i> @TempData["Success"]
            </div>
            <input type="hidden" id="tempDataSuccess" value="true" />
            <div class="progress-bar success"></div>
        </div>
        }

        @if (TempData["Error"] != null)
        {
        <div class="notification error">
            <div class="notification-content">
                <i class='bx bx-error-circle'></i>
                <span>@TempData["Error"]</span>
            </div>
            <input type="hidden" id="tempDataSuccess" value="false" />
            <div class="progress-bar error"></div>
        </div>
        }

        <input type="hidden" id="hdnJobRole" value="@jobRole" />

        <h1>إضافة مواصفات</h1>

        <div class="inputBox">
            <label class="textlabel">أختر نوع المواصفة</label>
            <select asp-for="Type" class="place" id="Type">
                <option value="" disabled selected>اختر النوع</option>
                <option value="0">اللون</option>
                <option value="1">الوزن</option>
                <option value="2">القياس</option>
            </select>
            <span asp-validation-for="Type" class="error style=" display: none;"></span>
        </div>

        <div class="inputBox" id="sizeInput" style="display: none;">
            <label class="textlabel">اللون</label>
            <input asp-for="Colored" class="place" id="Colored" />
            <span asp-validation-for="Colored" class="error style=" display: none;"></span>
        </div>

        <div class="inputBox" id="weightInput" style="display: none;">
            <label class="textlabel">الوزن</label>
            <input asp-for="Weight" class="place" id="Weight" />
            <span asp-validation-for="Weight" class="error style=" display: none;"></span>
        </div>

        <div class="inputBox" id="colorInput" style="display: none;">
            <label class="textlabel">القياس</label>
            <input asp-for="Size" class="place" id="Size" />
            <span asp-validation-for="Size" class="error style=" display: none;"></span>
        </div>




        <div class="button-container">
                <input type="submit" value="تأكيد الإضافة " class="btn btn-secondary" />
        </div>
    </form>

</div>
<script src="~/js/Inventory/AddCharacteristic.js"></script>

