@model ThothSystemVersion1.Models.Supply

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Inventory/EditSupply.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>

@{
    ViewData["Title"] = "تعديل بيانات المستلزم";
}


<div class="form-container">
    <h1> تعديل بيانات المستلزم  : @Model.Name </h1>

    <form asp-controller="Inventory" asp-action="EditSupply" method="post" id="myform">
        <div asp-validation-summary="ModelOnly" class="error"></div>


        <input type="hidden" asp-for="SuppliesId" />

        <div class="inputBox">
            <label asp-for="Name" class="textlabel"></label>
            <input asp-for="Name" id="Name" class="place" />
            <span class="error"></span>
        </div>


        <div class="inputBox">
            <label asp-for="Quantity" class="textlabel"></label>
            <input asp-for="Quantity" id="Quantity" class="place" readonly disabled />
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="Price" class="textlabel"></label>
            <input asp-for="Price" class="place" readonly disabled />
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="TotalBalance" class="textlabel"></label>
            <input asp-for="TotalBalance" class="place" readonly disabled />
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="ReorderPoint" class="textlabel"></label>
            <input asp-for="ReorderPoint" class="place" />
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="Activated" class="textlabel"> </label>
            <select asp-for="Activated" id="options" class="place">
                @if (Model.Activated)
                {
                    <option value="true" selected>مفعل</option>
                    <option value="false">غير مفعل</option>
                }
                else
                {
                    <option value="false" selected>غير مفعل</option>
                    <option value="true">مفعل</option>
                }
            </select>
        </div>

        <div class="button-container">
            <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" />
            <input type="submit" value="تعديل" class="btn btn-primary" />
        </div>
    </form>
</div>


<script src="~/js/Inventory/EditSupply.js"></script>








