.container {
    min-height: 100vh;
    padding-top: 80px;
    width: 100%;
    max-width: 800px;
    font-family: Calibri;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    display: flex;
}

    .container::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/image/brown-bokeh-textured-plain-product-background.jpg");
        opacity: 0.75;
        z-index: -1;
        background-size: cover;
        background-position: center;
    }

.text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #050505;
    margin-bottom: 20px;
    font-weight: 600;
}

.textlabel {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
    color: #FDF5E6;
    text-align: right;
}

.place {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
    direction: rtl;
}


.inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
    margin-left: 5%;
    position: center;
    width: 350px;
}

    .inputBox label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #090909;
        font-size: 25px;
        align-items: flex-end;
        text-align: right;
        direction: rtl;
    }

    .inputBox input {
        border: 2px solid #4F3217;
        border-radius: 5px;
        background-color: #FDF5E6;
        font-size: 16px;
        width: 100%;
        padding: 10px;
        text-align: right;
        direction: rtl;
    }

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.btn {
    padding: 10px 15px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*.btn-primary {
    background-color: #000000;
    color: white;
}

    .btn-primary:hover {
        background-color: #000000;
    }*/

.btn-secondary {
    background-color: #000000;
    color: white;
}

.btn:hover {
    background-color: #545b62;
}

.inputBox.error {
    color: red;
    font-size: 15px;
    font-weight: bolder;
    text-align: right;
    display: flex;
    margin-right: 8px;
    margin-top: 10px;
}



.arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.back {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    color: white;
    margin: 10px 0;
    position: fixed;
    text-decoration: none;
}

.success-message {
    font-size: 28px;
    font-weight: bold;
    color: #28a745; /* لون أخضر يدل على النجاح */
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eafaf1;
    border: 2px solid #28a745;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

    .success-message i {
        font-size: 40px;
    }

.error-message {
    font-size: 28px;
    font-weight: bold;
    color: #dc3545; /* لون أحمر يدل على الخطأ */
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fdecea;
    border: 2px solid #dc3545;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

    .error-message i {
        font-size: 40px;
    }
