@{
    Layout = null;
}
@model Employee
<style>

</style>




<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/image/eye.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/SharedViews/login.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>


<div class="registeration">
    <form action="/Employee/EmployeeLogin" id="myform" enctype="multipart/form-data" method="post">
        <h1>تحوت يرحب بك .. من فضلك قم بتسجيل الدخول</h1>
        <br />

        <div class="text">
            <h1>TH<span>&#x13080;</span>TH</h1>
        </div>

        <div class="inputBox">
            <input type="text" asp-for="@Model.EmployeeUserName" placeholder="اسم المستخدم" id="userName" />
            <i class="bx bxs-user"></i>
            <p asp-validation-for="@Model.EmployeeUserName" class="error"></p>
        </div>

        <div class="inputBox">
            <input type="password" asp-for="@Model.EmployeePassword" placeholder=" كلمه المرور" id="Password" />
            <i class="bx bxs-lock-alt"></i>
            <p asp-validation-for="@Model.EmployeePassword" class="error"></p>
        </div>

        @* <div class="rememberMe"> *@
        @*     <label><input type="checkbox" />تذكر بياناتي</label> *@
        @* </div> *@


        <div class="LogIn">
            <input type="submit" value="تسجيل الدخول" class="btnLog" />
        </div>

        <div class="reset">
            <input type="reset" value="إعادة إدخال" class="btnReset" />
        </div>
    </form>
</div>
@* <script src="~/js/Login.js" asp-append-version="true"></script> *@

@* <header>  *@
@*    <div id="navbar">  *@
@*         <h1>THOTH</h1>   *@
@*          <h1 class="hieroglyph">𓅝𓏏𓎛</h1>   *@
@*        <img src="./image/eye.jpg" alt="logo">  *@
@*     </div>  *@

@* </header>  *@


<script src="~/js/SharedViews/loginEmployee.js">
   

</script>




