@model Employee
<style>

    body {
        background: url("/image/egyptian-wall-with-hieroglyphs - Copy.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; /* to hide the footer*/
    }

    header {
        display: none
    }

    .text {
        color: #fff;
    }


    #navbar {
        display: flex;
        display: flex;
        justify-content: flex-end; /*  to make element in the right of the page  */
        align-items: center;
        padding: 10px;
    }


        /* .hieroglyph { */
        /*     font-family: 'Noto Sans Egyptian Hieroglyphs', sans-serif; */
        /*     font-size: 32px; */
        /*     color: #fff */
        /* } */

        #navbar h1 {
            position: absolute;
            font-size: 20px;
            font-weight: bold;
        }

    .registeration {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        text-align: center;
        font-weight: 500;
    }

        .registeration h1 {
            font-weight: bolder;
            color: #fff;
            margin-top: 15px;
            margin-left: 10px;
            font-size: 25px;
        }


        .registeration .inputBox {
            background: transparent !important;
            position: relative;
            text-align: left;
            width: 100%;
            height: 45px;
            margin: 10px;
            border: 2px solid white;
            border-radius: 40px;
            outline: none;
            font-size: 16px;
            padding: 4px;
            caret-color: white;
            display: flex;
            flex-direction: column;
        }

    .inputBox input {
        background: transparent;
        color: white;
    }

        .inputBox input::placeholder {
            color: #ffffff;
            text-align: left;
        }

    .inputBox i {
        position: absolute;
        color: #fff;
        right: 40px;
        top: 35%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .inputBox .bxs-lock-alt {
        top: 30%
    }


    /* .rememberMe { */
    /*     display: flex; */
    /*     align-items: center; */
    /*     gap: 8px; */
    /*     margin-top: 10px; */
    /*     font-size: 16px; */
    /*     color: white; */
    /* } */


    .inputBox.error {
        color: red;
        font-size: 15px;
        font-weight: bolder;
        text-align: right;
        display: flex;
        margin-right: 8px;
        margin-top: 10px;
    }


    input.btnLog {
        color: #fff;
        background-color: #5D3A1A;
        margin: 10px;
        font-size: small;
        font-weight: bolder;
        display: inline-block;
        padding: 10px 15px;
        border: none;
        border-radius: 15px;
        font-size: large;
    }


        input.btnLog:hover {
            background: rgb(66 32 6);
        }


    input.btnReset {
        color: #fff;
        background-color: #5D3A1A;
        margin: 10px;
        font-size: small;
        font-weight: bolder;
        display: inline-block;
        padding: 10px 15px;
        border: none;
        border-radius: 15px;
        font-size: large;
    }

        input.btnReset:hover {
            background: rgb(66 32 6);
        }
</style>


<div class="registeration">
    <form action="/Employee/EmployeeLogin" id="myform" enctype="multipart/form-data" method="post">
        <h1>تحوت يرحب بك .. من فضلك قم بتسجيل الدخول</h1>
        <br />

        <div class="text">
            <h1>TH<span>&#x13080;</span>TH</h1>
        </div>

        <div class="inputBox">
            <input type="text" asp-for="@Model.EmployeeUserName" placeholder="اسم المستخدم" id="userName" />
            <i class="bx bxs-user"></i>
            <p asp-validation-for="@Model.EmployeeUserName" class="error"></p>
        </div>

        <div class="inputBox">
            <input type="password" asp-for="@Model.EmployeePassword" placeholder=" كلمه المرور" id="Password" />
            <i class="bx bxs-lock-alt"></i>
            <p asp-validation-for="@Model.EmployeePassword" class="error"></p>
        </div>

        @* <div class="rememberMe"> *@
        @*     <label><input type="checkbox" />تذكر بياناتي</label> *@
        @* </div> *@


        <div class="LogIn">
            <input type="submit" value="تسجيل الدخول" class="btnLog" />
        </div>

        <div class="reset">
            <input type="reset" value="إعادة إدخال" class="btnReset" />
        </div>
    </form>
</div>
@* <script src="~/js/Login.js" asp-append-version="true"></script> *@



<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/image/eye.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>ThoTh</title>
</head>

@* <header>  *@
@*    <div id="navbar">  *@
@*         <h1>THOTH</h1>   *@
@*          <h1 class="hieroglyph">𓅝𓏏𓎛</h1>   *@
@*        <img src="./image/eye.jpg" alt="logo">  *@
@*     </div>  *@

@* </header>  *@


<script src="~/js/loginEmployee.js">
   

</script>




