@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Egyptian+Hieroglyphs&display=swap');

body {
    background: url("/image/egyptian-wall-with-hieroglyphs - Copy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    display: none;
}


footer {
    display: none;
}

.text {
    color: #fff;
}


#navbar {
    display: flex;
    display: flex;
    justify-content: flex-end; /*  to make element in the right of the page  */
    align-items: center;
    padding: 10px;
}


.hieroglyph {
    font-family: 'Noto Sans Egyptian Hieroglyphs', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
}

#navbar .hieroglyph {
    position: absolute;
    right: -100px; /* make the element out of the page */
    opacity: 0; /* make it hidden */
    /*    font-size: 20px;*/
    /*    font-weight: bold;*/
    animation: moveRight 4s forwards; /* name and duration */
}

@keyframes moveRight {
    0% {
        right: -100px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        right: 6%;
        opacity: 1;
        transform: translateX(-50%);
    }
}


#navbar img {
    width: 80px;
}

.text {
    color: #fff;
}

.registeration {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-weight: 500;
}

    .registeration h1 {
        font-weight: bolder;
        color: #fff;
        margin-top: 15px;
        margin-left: 10px;
        font-size: 25px;
    }


    .registeration .inputBox {
        background: transparent !important;
        position: relative;
        text-align: left;
        width: 100%;
        height: 45px;
        margin: 10px;
        border: 2px solid white !important;
        border-radius: 40px;
        outline: none;
        font-size: 16px;
        padding: 4px;
        caret-color: white;
        display: flex;
        flex-direction: column;
    }

.inputBox input {
    background-color: transparent !important;
    color: white;
}

    .inputBox input:-webkit-autofill,
    .inputBox input:-webkit-autofill:hover,
    .inputBox input:-webkit-autofill:focus,
    .inputBox input:-webkit-autofill:active {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }

    .inputBox input::placeholder {
        color: #ffffff;
        text-align: left;
    }

.inputBox i {
    position: absolute;
    color: #fff;
    right: 40px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 20px;
}

.inputBox .bxs-lock-alt {
    top: 30%
}


/* .rememberMe { */
/*     display: flex; */
/*     align-items: center; */
/*     gap: 8px; */
/*     margin-top: 10px; */
/*     font-size: 16px; */
/*     color: white; */
/* } */


.inputBox.error {
    color: red;
    font-size: 15px;
    font-weight: bolder;
    text-align: right;
    display: flex;
    margin-right: 8px;
    margin-top: 10px;
}


input.btnLog {
    color: #fff;
    background-color: #5D3A1A;
    margin: 10px;
    font-size: small;
    font-weight: bolder;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: large;
}


    input.btnLog:hover {
        background: rgb(66 32 6);
    }


input.btnReset {
    color: #fff;
    background-color: #5D3A1A;
    margin: 10px;
    font-size: small;
    font-weight: bolder;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: large;
}

    input.btnReset:hover {
        background: rgb(66 32 6);
    }